#fondoPrincipal{
    background-image: url(../img/pantallaprincipal.png);
    background-size:cover;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    height: auto;    
}
.crop {
    width: 180px;
    height: auto;
    position: fixed;
    top:55%;
    left:35%;
}