#fondoPrincipal{
    background-image: url(../img/pantallaprincipal.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;    
}
#fondoCarga{
    background-image: url(../img/pantallacarga.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoNiveles{
    background-image: url(../img/mapa.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoMedellin{
    background-image: url(../img/fondoMedellin.png);
    background-size:cover;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
.crop {
    width: 50%;
    height: auto;
    position: fixed;
    top:55%;
    left:35%;
}
.loader1{
    width: 50px;
    height: auto;
    position: absolute;
    top:440px;
    left:120px;
}
.loader1.hidden{
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
.loader2{
    width: 50px;
    height: auto;
    position: absolute;
    top:440px;
    left:170px;
}
.loader2.hidden{
    animation: fadeOut2 7s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut2{
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
.loader3{
    width: 50px;
    height: auto;
    position: absolute;
    top:440px;
    left:220px;
}
.loader3.hidden{
    animation: fadeOut3 11s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut3{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.btnTokio{
    position: relative;
    top:160px;
    left:43px;
   
}
.btnParis{
    position: relative;
    top:203px;
    left:15px;
}
.btnMedellin{
    position: relative;
    top:497px;
    left:-80px;
    
}
.btnNewYork{
    position: relative;
    top:393px;
    left:165px;
}
.btnDubai{
    position: fixed;
    top:305px;
    left:105px;
}
