#fondoPrincipal{
    background-image: url(../img/pantallaprincipal1.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;    
}
#fondoCarga{
    background-image: url(../img/pantallacarga.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoNiveles{
    background-image: url(../img/mapa1.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#creditos{
    background-image: url(../img/creditos.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoMedellin{
    background-image: url(../img/fondoMedelli.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoMedellinilustrado{
    background-image: url(../img/fondoMedelli.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#felicitacionesMedellin{
    background-image: url(../img/felicitacionesMedellin.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoDubai{
    background-image: url(../img/fondoDubai.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoDubaiilustrado{
    background-image: url(../img/fondoDubai.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#felicitacionesDubai{
    background-image: url(../img/felicitacionesDubai.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoNewYork{
    background-image: url(../img/fondoNew.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoNewYorkilustrado{
    background-image: url(../img/fondoNew.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#felicitacionesNewYork{
    background-image: url(../img/felicitacionesNewYork.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoParis{
    background-image: url(../img/fondoParis.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoParislustrado{
    background-image: url(../img/fondoParis.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#felicitacionesParis{
    background-image: url(../img/felicitacionesParis.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoTokio{
    background-image: url(../img/fondoTokio.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#fondoTokiolustrado{
    background-image: url(../img/fondoTokio.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
#felicitacionesTokio{
    background-image: url(../img/felicitacionesTokyo.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}
.botones{
    position: fixed;
    top:10%;
    left:35%; 
}
.crop {
    width: 50%;
    height: auto;
    position: fixed;
    top:55%;
    left:35%;
}
.descargaMedellin {
    position: fixed;
    top:50%;
    left:38%;
}
.descargaNew{
    position: fixed;
    top:48%;
    left:25%;
}
.descargarParis{
    position: fixed;
    top:47%;
    left:23%;
}
.descargarTokyo{
    position: fixed;
    top:51%;
    left:14%;
}
.bontonAtras{
    position: fixed;
    top:5%;
    left:73%;
}
.btnDAtras{
    position: fixed;
    top:90%;
    left:3%;
}
.descargaDubai {
    position: fixed;
    top:47%;
    left:15%;
}
.loader1{
    width: 10%;
    height: auto;
    position: fixed;
    top:80%;
    left:35%;    
}
.entorno{
    position: fixed;
    overflow: hidden;
}
.loader1.hidden{
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
.loader2{
    width: 10%;
    height: auto;
    position: fixed;
    top:80%;
    left:50%;
}
.loader2.hidden{
    animation: fadeOut2 7s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut2{
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
.loader3{
    width: 10%;
    height: auto;
    position: fixed;
    top:80%;
    left:65%;
}
.loader3.hidden{
    animation: fadeOut3 11s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut3{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.btnTokio{
    position: fixed;
    top:45%;
    left:79%;
   
}
.btnParis{
    position: fixed;
    top:54%;
    left:44%;
}
.btnMedellin{
    position: fixed;
    top:73%;
    left:9%;
    
}
.btnNewYork{
    position: fixed;
    top:87%;
    left:47%;
}
.btnDubai{
    position: fixed;
    top:69%;
    left:68%;
}

